HELP.md

# === Gradle ===
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# === 실행 로그 ===
*.log

# === 시스템 파일 ===
.DS_Store
Thumbs.db

# === STS (Spring Tool Suite) ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS Code ===
.vscode/

# === 기타 개발 도구 ===
.env
